<ion-view title="About Me">
  <ion-content>
    <div class="bar bar-header bar-assertive">
	  <h1 class="title">Myanmar Currency Exchanger</h1>
	</div>
	<div class="spacer" style="height: 50px;"></div>
	<div class="card padding">

	<div class="list card">
                    <div class="item item-divider">Me</div>
                    <div class="item item-body">

	  <div class="item">	  
	   Developer - Zaw Myo Latt
	  </div>
	  <div class="item">	  
	   Email - zawmyolatt.ucsy@gmail.com
	  </div>
	  <div class="item">	  
	   Facebook - <br><a href="http://facebook.com/cto.zawmyolatt" Alt="Facebook">Zaw Myo Latt</a>
	  </div>
	</div>
	</div>

	  <div class="list card">
                    <div class="item item-divider">Credit</div>
                    <div class="item item-body">

	  <div class="item">	  
	   Get Live Exchange Rate From  - <br><a href="http://www.cbm.gov.mm" Alt="Central Bank">Myanmar Central Bank</a>
	  </div>

	  <div class="item center">	  
	   Developed with - <br> Ionic(Cordova) Hybrid Framework.
	  </div>
	    </div>
      </div>

	  <div class="list card">
                    <div class="item item-divider">License</div>
                    <div class="item item-body">
                            <p>Can Do Anythings What you want !</p>
                            <p>If you want some more features, Add it your own !</p>
                            <p>Source Code - <a href="https://github.com/zawmyolatt/MyanC" Alt="Download">Download Here</a></p>
                    </div>
      </div>
	</div>
  </ion-content>
</ion-view>
